.form-container {
  align-items: center; 
  width: 100%;
  max-width: 400px; 
  margin:  auto; 
  padding: 20px; 
  border-radius: 8px; 
  background-color: rgba(122, 120, 118, 0.178); 
}

.form-container h2 {
  color: rgb(3, 3, 3);
  text-align: center;
}

.form-container .MuiButton-root {
  margin-top: 10px;
  width: 100%;
}




